.to-do-item {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 12px;

  &-content {
    display: flex;
    justify-content: space-between;
  }

  &-action {
    svg {
      cursor: pointer;
    }

    .edit-item {
      color: blue;
    }

    .remove-item {
      color: red;
    }
  }

  &-text {
    font-weight: bold;
  }
}
