.app {
  padding: 100px;
}

.main-product {
  &-img {
    img {
      display: block;
      height: 300px;
      width: 100%;
    }
  }

  &-price {
  }

  &-details {
    padding: 20px;
  }

  &-name {
    margin-top: 12px;
    font-weight: bold;
  }

  &-seller {
    a {
      color: #70baff;
      text-decoration: none;
    }
  }

  &-normal-price {
    font-size: 32px;
    color: red;
    font-weight: 600;
    text-decoration: line-through;
  }

  &-discount {
    display: flex;
    &-percent {
      margin-left: 8px;
      color: #e37272;
    }

    &-price {
      color: #ccc;
    }
  }
}

.related-products {
  padding: 24px;

  p {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
    margin-bottom: 12px;
  }

  &-container {
    display: flex;
  }
}

@media (max-width: 600px) {
  .app {
    padding: 0;
  }
}
